---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

/* Custom colors for share icons */

.fa-square-x-twitter {
  color: #1DA1F2 !important;
}

.fa-facebook-square {
  color: #1877F2 !important;
}

.fa-telegram {
  color: #0088cc !important;
}

.fa-whatsapp {
  color: #25D366 !important;
}

.preview-img img {
  display: block;
  width: 100%;
  height: auto;
  filter: blur(8px);
  opacity: .5;
  transition: filter .35s ease, opacity .35s ease;
  will-change: filter, opacity;
}

.preview-img img.loaded {
  filter: blur(0);
  opacity: 1;
}
// Back-to-top progress bar
#progress-circle {
  margin: -1px -1px;
  top: -2.75rem;
  position: relative;
  transform: rotate(-90deg);

  circle {
    stroke: #FF5722;
    stroke-dasharray: 2 * 3.14 * 20;
    stroke-dashoffset: 2 * 3.14 * 20;
    transition: stroke-dashoffset 0.2s;
  }
}
